.container {
  background-color: white;
  padding: 20vh 0vw 0vw 5vw;
}

.zoomingText {
  color: #263547;
  margin: 0.5%;
  width: max-content;
  min-width: 17vw;
}

.zoomingText:hover {
  transform: scale(1.05) translateX(1vw);
  transition: 0.5s;
}

.container .icons {
  margin-right: 1%;
  color: #263547;
}

.container a {
  color: #263547;
  text-decoration: none;
}

.sectionContaier{
  margin: 5vh 0 5vh 0;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #d0826f;
  max-width: 50%;
}

.tituloSeccion {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #d0826f;
  max-width: 25%;
  margin-top: 2vh;
}

.subtitulo {
  font-weight: 300;
  color: #d0826f;
  max-width: 25%;
}

.acordion{
  width: 90%;
}

.acordionHeader{
  height: 8vh;
}


@media screen and (max-width: 699px){
  .container{
    padding: 5vh 5vw 0vw 5vw;
  }
  .titulo{
    max-width: 100%;
  }
  .subtitulo{
    max-width: 100%;
  }
  .tituloSeccion{
    max-width: 100%;
  }
  .zoomingText{
    font-size: small;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}